/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(http://www.psdgraphics.com/file/cloudy-sky-cartoon.jpg);
  background-size: 100% auto;
}

.img-container {
  text-align: center;
  padding: 6em;
}

img {
  transition: border 0.5s linear;
}

img:hover {
  border: 1em solid black;
}

.welcome-message {
  text-align: center;
  margin-top: -.5em;
  font-family: 'Acme', sans-serif;
  font-size: 5em;
  color: #274563;
  letter-spacing: .1em;
}


/* Everything below relates to the form */

.form-container {
  padding: 5em;
  margin: 0 auto;
  max-width: 48rem;
  /*border: 1px solid black;*/
}

.or-question-container {
  margin: 0 auto;
  max-width: 30rem;
  /*border: 1px solid black;*/
}

.or-question {
  /*border: 1px solid black;*/
}

.or-question p {
  text-align: center;
  padding-top: 3em;
  clear: both;
}

.or-question div {
  float:left;
}

.left {
  /*border: 1px solid black;*/
  max-width: 10em;
  margin-left: 5em;
}

.left a {
  float: right;
}

.right {
  max-width: 10em;
  margin-right: 5em;
}

.submit-container {
  /*border: 1px solid black;*/
  margin-top: 3em;
  text-align: center;
}

.form-submit {
  border-radius: .3em;
  height: 10em;
  width: 30em;
  text-align: center;
}



