

<h1>Meet Your Maker</h1>


<div class="row">
  <div class="container">
      <a href="#"><img src="http://placehold.it/300x300"></a>
  </div>
  <p class="welcome-message">Click My Belly!</p>
</div>

<div class="row">
  <form class="user-response" action="/results" method="post">
      <div><label for="name">Name:<input id ="name" type="text" placeholder="Please, enter here" name="name"></label></div>
      <div><label for="age">Age:<input type="text" placeholder="Please, enter here" name="current_age"></label></div>

       <div>
        <label for="gender">What's your gender?</label>
          <input type="radio" id="gender_male" name="gender" value="male"><label>Male</label>
          <input type="radio" id="gender_female" name="gender" value="female"><label>Female</label>
      </div>

      <div class=""><label for="location">Location:<input type="text" value="Austin, TX" name="location"></label></div>

      <div>
        <label for="diet">Diet</label>
          <input type="radio" name="diet" value="vegetarian"><label>Vegetarian</label>
          <input type="radio" name="diet" value="vegan"><label>Vegan</label>
          <input type="radio" name="diet" value="both"><label>Meat and Veggies</label>
          <input type="radio" name="diet" value="children"><label>Children</label>
      </div>

      <div>
        <label for="outlook">What is your outlook on life?</label>
          <input type="radio" name="outlook" value="positive"><label>Positive</label>
          <input type="radio" name="outlook" value="neutral"><label>Neutral</label>
          <input type="radio" name="outlook" value="negative"><label>Negative</label>
          <input type="radio" name="outlook" value="fuck"><label>Fuck Life</label>
      </div>

      <div>
        <label for="sleep">How often do you sleep?</label>
          <input type="radio" name="sleep" value="10+ hours"><label>10+ Hours</label>
          <input type="radio" name="sleep" value="6-10 hours"><label>6-10 Hours</label>
          <input type="radio" name="sleep" value="less than 6 hours"><label>Less than 6 Hours</label>
          <input type="radio" name="sleep" value="never"><label>I'll sleep when I'm dead</label>
      </div>

    <div class="row">
    <div class="large-8 large-centered columns">
      <div class="or-question">
          <p>Right-Handed OR Left-Handed?</p>
            <div><a href="#" name="hand" class="button">Right-Handed</a></div>
            <div><a href="#" name="hand" class="button">Left-Handed</a></div>
      </div>

      <div class="or-question">
          <p>Sports OR Video Games?</p>
            <div><a href="#" name="sport" class="button">Sports</a></div>
            <div><a href="#" name="sport" class="button">Video Games</a></div>
      </div>

      <div class="or-question">
          <p>Beer OR Liquor</p>
            <div><a href="#" name="drink" class="button">Beer</a></div>
            <div><a href="#" name="drink" class="button">Liquor</a></div>
      </div>

      <div class="or-question">
          <p>Republican OR Democrat?</p>
            <div><a href="#" name="politics" class="button">Republican</a></div>
            <div><a href="#" name="politics" class="button">Democrat</a></div>
      </div>

      <div class="or-question">
          <p>Dirty Sixth OR Rainey?</p>
            <div><a href="#" name="nightlife" class="button">Dirty Sixth</a></div>
            <div><a href="#" name="nightlife" class="button">Rainey</a></div>
      </div>

      <div class="or-question">
          <p>Sega OR Nintendo?</p>
            <div><a href="#" name="game-console" class="button">Sega</a></div>
            <div><a href="#" name="game-console" class="button">Nintendo</a></div>
      </div>

      <div class="or-question">
          <p>Ruby OR JavaScript?</p>
            <div><a href="#" name="language" class="button">Ruby</a></div>
            <div><a href="#" name="language" class="button">JavaScript</a></div>
      </div>
    </div>
    </div>

    <input type="submit" class="button round" value="WHEN AM I GONNA DIE?" />


  </form>
</div>




